html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}

p {
    margin: 5px;
}

span {
    font-weight: bold;
}

a, .name {
    text-decoration: none;
    color: hotpink;
    font-weight: bold;
}

.function .name, .blue {
    color: mediumslateblue;
}

.small {
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

div {
    margin: 10px 0;
}

#list a {
    display: block;
}

.row {
    display: flex;
}

#list {
   white-space: nowrap;
}

.left {
    flex: 25%;
    border-right: 1px solid hotpink;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 80vh;
}

.right {
    padding-left: 10px;
    flex: 75%;
    overflow-y: scroll;
    height: 80vh;
}

.item {
    margin-bottom: 30px;
    border-bottom: 1px solid hotpink;
}

.item2 {
    margin-bottom: 30px;
    border-bottom: 1px solid mediumslateblue;
}

pre {
	padding: 5px;
	margin: 5px 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
}

pre code {
	padding: 10px;
	color: #333;
}